/*
 *  Navigation
 */

/* Navbar */
nav {
  h1, h2, h3, h4, h5 {
    margin: 0;
    color: white;
  }
}

.navbar {
  display: block;
  text-align: center;
}

.navbar ul {
  text-align: center;
  justify-content: center;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  text-decoration: underline;
}

@include small-breakpoint {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
    margin-bottom: 1rem;
  }
  
  .navbar ul {
    display: flex;
  }
}